
@{
    ViewBag.Title = "PostView";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model  FacultyV3EN.Web.ViewModels.PostViewModel

@using FacultyV3EN.Core.Models.Enums;
<div id="data1">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">List News</h4>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="">Search</h6>
                            @using (@Html.BeginForm("SearchCategory", "News", FormMethod.Post, new { onsubmit = "return SubmitSearch(this)" }))
                            {
                                <div class="form-row align-items-center">
                                    <div class="col-auto">
                                        <input id="search" class="form-control" type="text" name="search" placeholder="Enter Keywords" />
                                    </div>
                                    <div class="col-auto">
                                        @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(Status))), "----Select----", new { @id = "DropDwnState", @class = "form-control", @name = "state" })
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" id="searchByName" class="btn btn-icon waves-effect waves-light btn-primary">
                                            <i class="fas fa-search "></i>
                                        </button>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-icon waves-effect waves-light btn-success" onclick="window.location.href='@Url.Action("AddOrEdit","News")'">
                                            <i class="fas fa-plus "></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" id="tableAjax">
                        @{
                            Html.RenderAction("LoadTable", "News");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#search').keypress(function () {
                var name = $(this).val();

                $.ajax({
                    type: "get",
                    url: "/Admin/News/LoadTable?search=" + name,
                    contentType: "html",
                    success: function (response) {
                        $('#tableAjax').html(response);
                    }
                })
            });
            $("nav ul li a").addClass("page-link");
            $("nav ul ").addClass("justify-content-end");
        })

        function SubmitSearch(form) {
            var name = $("#search").val();
            var state = $("#DropDwnState").val();
            post_url = $(form).attr("action");
            $.ajax({
                type: "Get",
                url: "/Admin/News/LoadTable?search=" + name + "&state=" + state,
                contentType: "html",
                success: function (response) {
                    $('#tableAjax').html(response);
                }
            });
            return false;
        }

        function Delete(url) {
            swal({
                title: "Are you sure you want to delete?",
                text: "If deleted, data cannot be recovered!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: url,
                        success: function (data) {
                            if (data.success) {
                                $("#tableAjax").load("@Url.Action("LoadTable", "News")");
                                swal("Delete Successfull", {
                                    icon: "success",
                                });
                            } else {
                                $("#tableAjax").load("@Url.Action("LoadTable", "News")");
                                swal("Delte Failed", {
                                    icon: "error",
                                });
                            }
                        }
                    });
                }
                else {
                    swal("Data is still safe!");
                }
            });
        }

        function Publish(url) {
            $.ajax({
                type: "POST",
                url: url,
                success: function (data) {
                    if (data.success) {
                       $("#tableAjax").load("@Url.Action("LoadTable", "News")");
                        swal(data.message, "Click the button below to exit!", "success");
                    } else {
                       $("#tableAjax").load("@Url.Action("LoadTable", "News")");
                        swal(data.message, "Click the button below to exit!", "error");
                    }
                }
             });
        }

        function GetDetail(url) {
            window.open(url, '_blank');
        }
    </script>
}


