@model PagedList.IPagedList<FacultyV3EN.Core.Models.Entities.Lecturer>
@using FacultyV3EN.Web.Common;
@using PagedList.Mvc;


<div class="row">

    @foreach (var item in Model)
    {
        <!-- Teacher -->
        <div class="col-lg-3 teacher">
            <div class="card">
                <div class="card_img">
                    @{
                        var strTitle = item.FullName.Count() <= 100 ? item.FullName.Replace("-", " ") : item.FullName.Substring(0, 100).Replace("-", " ");
                        var url = Url.RouteUrl("DETAILTEACHER", new { name = utf8Convert.Instance.ToUrlFriendly(strTitle), code = item.Code.Replace(".", "-").ToString() });
                        //var url = Url.Action("PostDetailView", "Post", new { id = item.Id });
                    }
                    <div class="card_plus trans_200 text-center"><a href="@url">+</a></div>
                    <img class="card-img-top trans_200" src="@item.Url_Image" height="260px" alt="@item.FullName">
                </div>
                <div class="card-body text-center">
                    <div class="card-title"><a href="@url">@item.FullName</a></div>
                    <div class="card-text">@item.Degree</div>
                </div>
            </div>
        </div>
    }
</div>


<div class="news_page_nav" style="margin-top: 50px;">

    @Html.PagedListPager(Model, page => Url.Action("TeacherView", "Teacher", new { page }),
       new PagedListRenderOptions
       {
           LiElementClasses = new string[] { "text-center trans_200" }
       })
</div>

