@model FacultyV3EN.Web.ViewModels.PostViewModel
@{
    ViewBag.Title = "CRUDPost";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
@using FacultyV3EN.Core.Models.Enums;
<style type="text/css">

    .modal-dialog {
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Update Post</h4>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @using (@Html.BeginForm("AddOrUpdate", "Post", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Title <span class="text-danger">*</span></label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "...", required = "required" } })
                        @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Description<span class="text-danger"> *</span></label>
                        @Html.TextAreaFor(model => model.Description, new { @id = "Description", style = "height: 150px", @class = "form-control", placeholder = "...", required = "required" })
                        @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label"> Post<span class="text-danger"> *</span></label>
                        @Html.TextAreaFor(model => model.Content, new { @id = "content", style = "height: 400px", @class = "form-control", placeholder = "..." })
                        @Html.ValidationMessageFor(x => x.Content, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Category <span class="text-danger">*</span></label>
                            @Html.DropDownListFor(model => model.CategoryID, ViewBag.ListOfCategory as SelectList, "----Lựa Chọn----", new { @id = "DropDwnCategory", @class = "form-control", required = "required" })
                        </div>

                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Image<span class="text-danger"> 750x500</span></label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Url_Image, new { @id = "fieldID", @class = "form-control path_file", placeholder = "Image" })
                                @Html.ValidationMessageFor(x => x.Url_Image, "", new { @class = "text-danger" })
                                <div class="input-group-append btn-upfle">
                                    <a data-toggle="modal" data-target="#myModal1" class="btn btn-dark " style="color: white">
                                        <i class="fa fa-upload" style="color: white"></i>
                                        Browse
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label"> Place<span class="text-danger"> Events *</span></label>
                            @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control", placeholder = "..." } })
                            @Html.ValidationMessageFor(x => x.Place, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Date of the event <span class="text-danger">Events</span></label>
                            <div>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.DateOfEvents, new { htmlAttributes = new { @class = "form-control", placeholder = "mm/dd/yyyy", data_provide = "datepicker", data_date_autoclose = "true" } })
                                    @Html.ValidationMessageFor(x => x.DateOfEvents, "", new { @class = "text-danger" })
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                    </div>
                                </div>
                                <!-- input-group -->
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Link Youtube<span class="text-danger"> *</span></label>
                            @Html.TextAreaFor(model => model.Url_Video, new { @id = "LinkYoutube", style = "height: 150px", @class = "form-control", placeholder = "" })
                            @Html.ValidationMessageFor(x => x.Url_Video, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Link pdf Google Drive<span class="text-danger"> *</span></label>
                            @Html.TextAreaFor(model => model.Url_LinkGoogle, new { @id = "LinkFile", style = "height: 150px", @class = "form-control", placeholder = "" })
                            @Html.ValidationMessageFor(x => x.Url_LinkGoogle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Serial</label>
                            @Html.EditorFor(model => model.Serial, new { @id = "Serial", htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayFor(model => model.Serial) }, required = "required" })
                            @Html.ValidationMessageFor(x => x.Serial, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Status <span class="text-danger"> *</span></label>
                            @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(Gender)), Gender.PUBLISH), new { @id = "DropDwnState", @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group text-right mb-0">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button type="button" onclick="window.location.href = '@Url.Action("PostView","Post")'" class="btn btn-secondary">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Manage Files </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <iframe src="/filemanager/dialog.php?type=1&fldr=&field_id=fieldID" frameborder="0" style="overflow:hidden; min-height:600px; height:100%;width:100%" height="100%" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    tinyMCE.init({
        selector: '#content',
        height: 500,
        entity_encoding: "raw",
        relative_urls: false,

        inline_styles: true, image_advtab: true,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code colorpicker textcolor responsivefilemanager'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | forecolor | backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table | link  image fullscreen | responsivefilemanager |',
        external_filemanager_path: "/filemanager/",
        external_plugins: { "filemanager": "/filemanager/plugin.min.js" },
        filemanager_title: "Responsive File Manager",
        filemanager_access_key: 'f970ce5bc016b5c5ca08e2e39c2cc937&foldr=',
    });
</script>

@section scripts{
    <script src="~/Content/Admin/assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
}